<!-- Testimonials -->
<section class="wrapper">
    <div class="inner">

        <header class="special">
            <h2>Test</h2>
            <p>Test</p>
        </header>

        <div class="testimonials">
            <section>
                <div class="content">
                    <blockquote>
                        <p>The first is this website! This is a Bootstrap 3 / Umbraco website. I use a full SQL database and also uSync + GitHub as I was making it away from my home PC at times.</p>
                    </blockquote>
                    <div class="author">
                        <div class="image">
                            <img src="/favicon.ico" alt="" />
                        </div>
                        <p class="credit">- <strong>www.patrickdavis.co.uk</strong></p>
                    </div>
                </div>
            </section>

            <section>
                <div class="content">
                    <blockquote>
                        <p>This is an art portfolio and graduate website for Chloe Farrington, who graduated from Arts University Bournemouth in 2019. This too is an Umbraco and Bootstrap site, using a full SQL database with a GitHub repo and uSync.</p>
                    </blockquote>
                    <div class="author">
                        <div class="image">
                            <img src="/favicon.ico" alt="" />
                        </div>
                        <p class="credit">- <strong>www.elizabethmay.co.uk</strong></p>
                    </div>
                </div>
            </section>

            <section>
                <div class="content">
                    <blockquote>
                        <p>Coming soon!</p>
                    </blockquote>
                    <div class="author">
                        <div class="image">
                            <img src="/favicon.ico" alt="" />
                        </div>
                        <p class="credit">- <strong>www.example.com</strong></p>
                    </div>
                </div>
            </section>

        </div>
    </div>
</section>