@inherits Umbraco.Web.Mvc.UmbracoViewPage
<!-- Header -->
		<header id="header">
		    
			<a class="logo" href="/">PJD</a>
			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>

	<!-- Nav -->
		<nav id="menu">
			<ul class="links">
				<li><a href="/">Home</a></li>
				<li><a href="/Contact-me">Contact</a></li>
				<li><a href="/About-me">About Me</a></li>
				<li><a href="/pc-builds">Computer Repair or Builds</a></li>
				<li><a href="/projects">My Projects</a></li>
			</ul>
		</nav>