<h3>Woops... <i class="icon fa-fw fa-bug"></i></h3>
<p>Sorry, there was a problem with the form. You can <a style="text-decoration:underline" href="mailto:patrick_davis97@hotmail.co.uk">reach me via my email</a> instead.</p>

