<section id="banner">
    <div class="inner">
        <h1>PATRICK J DAVIS</h1>
        <p>Junior Web Developer | PC Builder | Undergraduate</p>
    </div>
    <img src="/images/bannerCode.jpg" />
</section>