@inherits UmbracoViewPage
@{
    var backgroundImage = Umbraco.AssignedContentItem.Value<IPublishedContent>("bannerBackgroundImage").Url;
}
<section id="banner">
    <div class="inner">
        <h1>@Umbraco.AssignedContentItem.Value("homepageBannerTitle")</h1>
        <p>@Umbraco.AssignedContentItem.Value("homepageBannerSubTitle")</p>
    </div>
    <img src="@backgroundImage" />
</section>