@inherits UmbracoViewPage
@{
    var backgroundImage = "";
    try
    {
        backgroundImage = Umbraco.AssignedContentItem.Value<IPublishedContent>("siteBannerImage").Url;

    }
    catch (Exception)
    {
        backgroundImage = "notfound.jpg";

    }

}
<section id="banner">
    <div class="inner">
        <h1>@Umbraco.AssignedContentItem.Value("homepageBannerTitle")</h1>
        @Umbraco.AssignedContentItem.Value("homepageBannerSubTitle")
    </div>
    <img src="@backgroundImage" />
</section>