<!-- Highlights -->
<section class="wrapper">
    <div class="inner">
        <header class="special">
            <h2>Test</h2>
            <p>Test</p>
        </header>
        <div class="highlights">

            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a>
                        <h3>TEST</h3>
                    </header>
                    <p>TEST</p>
                </div>
            </section>

            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-files-o"><span class="label">Icon</span></a>
                        <h3>TEST</h3>
                    </header>
                    <p>TEST</p>
                </div>
            </section>

            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-floppy-o"><span class="label">Icon</span></a>
                        <h3>TEST</h3>
                    </header>
                    <p>NEST</p>
                </div>
            </section>

            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
                        <h3>TEST</h3>
                    </header>
                    <p>TEST</p>
                </div>
            </section>

            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
                        <h3>TEST</h3>
                    </header>
                    <p>TEST</p>
                </div>
            </section>

            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-qrcode"><span class="label">Icon</span></a>
                        <h3>TEST</h3>
                    </header>
                    <p>TEST</p>
                </div>
            </section>

        </div>
    </div>
</section>