<?xml version="1.0" encoding="utf-8"?>
<simpleContentPage Key="e421ccc7-54fa-448f-b9e8-2e53502de432" Alias="About Me" Level="2">
  <Info>
    <Parent Key="94b2eb05-566f-43f7-a919-2924811a9ba4">Homepage</Parent>
    <Path>/Homepage/AboutMe</Path>
    <Trashed>false</Trashed>
    <NodeName Default="About Me" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <bodyTextTitle>
      <Value>I built a website..</Value>
    </bodyTextTitle>
    <canIndex>
      <Value>["index, follow"]</Value>
    </canIndex>
    <cTABody>
      <Value>&lt;p&gt;A breakdown of my experience and achievements.&lt;/p&gt;</Value>
    </cTABody>
    <cTAHeader>
      <Value>About Me</Value>
    </cTAHeader>
    <cTAImage>
      <Value>umb://media/70397c8bff8c45d694a99b63b9872e9b</Value>
    </cTAImage>
    <mainBodyText>
      <Value>&lt;p&gt;This website is based on Umbraco. I used a bootstrap template and linked up the entirety of the HTML to Umbraco. I use a SQL database and windows shared hosting. I wanted to own the entire process of developing a website, managing its data and launching it with a CMS so that I wouldn't need to re-deploy it every time I want to change the content. &lt;/p&gt;</Value>
    </mainBodyText>
    <pageTabName>
      <Value>About Me | PJD</Value>
    </pageTabName>
  </Properties>
</simpleContentPage>