<?xml version="1.0" encoding="utf-8"?>
<simpleContentPage Key="e421ccc7-54fa-448f-b9e8-2e53502de432" Alias="About Me" Level="2">
  <Info>
    <Parent Key="94b2eb05-566f-43f7-a919-2924811a9ba4">Homepage</Parent>
    <Path>/Homepage/AboutMe</Path>
    <Trashed>false</Trashed>
    <NodeName Default="About Me" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <bodyTextTitle>
      <Value>I built a website..</Value>
    </bodyTextTitle>
    <cTABody>
      <Value>&lt;p&gt;A breakdown of my experience and achievements.&lt;/p&gt;</Value>
    </cTABody>
    <cTAHeader>
      <Value>About Me</Value>
    </cTAHeader>
    <cTAImage>
      <Value>umb://media/70397c8bff8c45d694a99b63b9872e9b</Value>
    </cTAImage>
    <mainBodyText>
      <Value>&lt;p&gt;Test&lt;/p&gt;</Value>
    </mainBodyText>
  </Properties>
</simpleContentPage>