<?xml version="1.0" encoding="utf-8"?>
<simpleContentPage Key="7dc5e415-8b5e-43ad-a0bc-de38a173dc05" Alias="Contact Me" Level="2">
  <Info>
    <Parent Key="94b2eb05-566f-43f7-a919-2924811a9ba4">Homepage</Parent>
    <Path>/Homepage/ContactMe</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Contact Me" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <bodyTextTitle>
      <Value>Contact Form</Value>
    </bodyTextTitle>
    <canIndex />
    <cTABody>
      <Value>&lt;p&gt;test&lt;/p&gt;</Value>
    </cTABody>
    <cTAHeader>
      <Value>Test</Value>
    </cTAHeader>
    <cTAImage>
      <Value>umb://media/3149ff4bb4da4d46abbac16d438ae912</Value>
    </cTAImage>
    <mainBodyText>
      <Value>&lt;p&gt;How can I help?&lt;/p&gt;</Value>
    </mainBodyText>
    <pageTabName>
      <Value>Contact Me | PJD</Value>
    </pageTabName>
  </Properties>
</simpleContentPage>