<?xml version="1.0" encoding="utf-8"?>
<homePage Key="94b2eb05-566f-43f7-a919-2924811a9ba4" Alias="Homepage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Homepage</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Homepage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <bodyText>
      <Value>&lt;p&gt;Hello world!&lt;/p&gt;</Value>
    </bodyText>
    <footerText>
      <Value>"PJD 2019"</Value>
    </footerText>
    <pageTitle>
      <Value>Welcome to PJD</Value>
    </pageTitle>
  </Properties>
</homePage>