<?xml version="1.0" encoding="utf-8"?>
<homePage Key="94b2eb05-566f-43f7-a919-2924811a9ba4" Alias="Homepage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Homepage</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Homepage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <bannerBackgroundImage>
      <Value>umb://media/4faebb9a1fc74160bb96627ac3403e47</Value>
    </bannerBackgroundImage>
    <homepageBannerSubTitle>
      <Value>&lt;p&gt;Junior Web Developer | PC Builder | Undergraduate&lt;/p&gt;</Value>
    </homepageBannerSubTitle>
    <homepageBannerTitle>
      <Value>Patrick J Davis</Value>
    </homepageBannerTitle>
  </Properties>
</homePage>