<?xml version="1.0" encoding="utf-8"?>
<homePage Key="94b2eb05-566f-43f7-a919-2924811a9ba4" Alias="Homepage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Homepage</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Homepage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <bannerBackgroundImage>
      <Value>umb://media/4faebb9a1fc74160bb96627ac3403e47</Value>
    </bannerBackgroundImage>
    <canIndex>
      <Value>["index, follow"]</Value>
    </canIndex>
    <copyrightOwner>
      <Value>Patrick Jonathan Davis with styling by www.templated.co</Value>
    </copyrightOwner>
    <cTABody>
      <Value>&lt;p&gt;I am currently based in Bournemouth. I have lived here since the start of University and with views like this, don't plan to leave anytime soon!&lt;/p&gt;</Value>
    </cTABody>
    <cTAHeader>
      <Value>Where am I Based?</Value>
    </cTAHeader>
    <cTAImage>
      <Value>umb://media/70397c8bff8c45d694a99b63b9872e9b</Value>
    </cTAImage>
    <footerCopyrightText>
      <Value>Copyright | Patrick Jonathan Davis | © | 2019</Value>
    </footerCopyrightText>
    <homepageBannerSubTitle>
      <Value>&lt;p&gt;Junior Web Developer | PC Builder | Undergraduate&lt;/p&gt;</Value>
    </homepageBannerSubTitle>
    <homepageBannerTitle>
      <Value>Patrick J Davis</Value>
    </homepageBannerTitle>
    <pageStylingCredit>
      <Value>Page design and feel by www.templated.co</Value>
    </pageStylingCredit>
    <pageTabName>
      <Value>Home | PJD</Value>
    </pageTabName>
    <siteAuthorTag>
      <Value>Patrick Jonathan Davis 2019</Value>
    </siteAuthorTag>
    <siteCrawlFrequency>
      <Value>15 days</Value>
    </siteCrawlFrequency>
    <siteDescription>
      <Value>Personal portfolio for Junior Developer Patrick Davis, who is based in Bournemouth.</Value>
    </siteDescription>
    <siteKeywords>
      <Value>developer,bournemouth,repair,advice,tech,web,.net,asp,umbraco,css,html,bootstrap,java,sql,database,it,technology,windows,server,host,internet,portfolio,junior,backend</Value>
    </siteKeywords>
  </Properties>
</homePage>