<?xml version="1.0" encoding="utf-8"?>
<simpleContentPage Key="8595842e-9298-4c90-9064-a8ba0e193166" Alias="PC Builds" Level="2">
  <Info>
    <Parent Key="94b2eb05-566f-43f7-a919-2924811a9ba4">Homepage</Parent>
    <Path>/Homepage/PCBuilds</Path>
    <Trashed>false</Trashed>
    <NodeName Default="PC Builds" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <bodyText>
      <Value>&lt;p&gt;How can I help?&lt;/p&gt;</Value>
    </bodyText>
    <cTABody />
    <cTAHeader />
  </Properties>
</simpleContentPage>