<?xml version="1.0" encoding="utf-8"?>
<projects Key="19b87eac-ed86-42d8-8f89-fc3b14653444" Alias="Projects" Level="2">
  <Info>
    <Parent Key="94b2eb05-566f-43f7-a919-2924811a9ba4">Homepage</Parent>
    <Path>/Homepage/Projects</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Projects" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <cTABody>
      <Value>&lt;p&gt;Test&lt;/p&gt;</Value>
    </cTABody>
    <cTAHeader>
      <Value>Test</Value>
    </cTAHeader>
    <cTAImage>
      <Value>umb://media/6b66e82d1b9e4d7a846e47bfb7a912c8</Value>
    </cTAImage>
  </Properties>
</projects>