<?xml version="1.0" encoding="utf-8"?>
<simpleContentPage Key="41e64517-4c0e-4515-bd8c-42fff618ca9d" Alias="This Website" Level="3">
  <Info>
    <Parent Key="19b87eac-ed86-42d8-8f89-fc3b14653444">Projects</Parent>
    <Path>/Homepage/Projects/ThisWebsite</Path>
    <Trashed>false</Trashed>
    <NodeName Default="This Website" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <bodyTextTitle>
      <Value>Test</Value>
    </bodyTextTitle>
    <canIndex>
      <Value>["index, follow"]</Value>
    </canIndex>
    <cTABody>
      <Value>&lt;p&gt;This website's technology and development process.&lt;/p&gt;</Value>
    </cTABody>
    <cTAHeader>
      <Value>My Website</Value>
    </cTAHeader>
    <cTAImage>
      <Value>umb://media/995000be130d446faea192d8c92e9c0b</Value>
    </cTAImage>
    <mainBodyText>
      <Value>&lt;p&gt;Test&lt;/p&gt;</Value>
    </mainBodyText>
    <pageTabName>
      <Value>This Website | PJD</Value>
    </pageTabName>
  </Properties>
</simpleContentPage>