@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = null;
}

<!DOCTYPE HTML>

<html>
	<head>
		<title>PJD | Junior Web Developer | Bournemouth</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="Portfolio website for junior developer Patrick Davis who is based in Bournemouth. Built in Umbraco." />
		<meta name="keywords" content="developer,repair,computer,tech,junior,bournemouth,patrick,davis" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	   <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
	</head>
		<body class="is-preload">
	<!-- Header -->
			<header id="header">
				<a class="logo" href="/">PJD | Portfolio</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/Contact-me">Contact</a></li>
					<li><a href="/About-me">About Me</a></li>
					<li><a href="/pc-builds">Computer Repair or Builds</a></li>
					<li><a href="/projects">My Projects</a></li>
				</ul>
			</nav>
			
		<!-- Body -->
		@RenderBody()
			
	<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<div class="content">
					
					<section>
						<h4>Sitemap</h4>
						<ul class="alt">
							<li><a href="/">Home</a></li>
							<li><a href="/About-me">About</a></li>
							<li><a href="/Contact-me">Contact</a></li>
							<li><a href="/PC-Builds">PC Repairs</a></li>
							<li><a href="/Projects">Projects</a></li>
						</ul>
					</section>
					<section>
						<h4>Networks</h4>
						<ul class="plain">
							<li><a target="_blank" href="https://www.linkedin.com/in/pdavis97"><i class="icon fa-linkedin">&nbsp;</i>LinkedIn</a></li>
							<li><a target="_blank" href="https://www.facebook.com/PJD97"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
							<li><a target="_blank" href="https://github.com/patrickd77-eng"><i class="icon fa-github">&nbsp;</i>GitHub</a></li>
						</ul>
					</section>
				</div>
				<div class="copyright">
				<p>@Model.Value("footerText", fallback: Fallback.ToAncestors)</p>
				</div>
			</div>
		</footer>

    		<!-- Scripts -->
    			<script src="/assets/js/jquery.min.js"></script>
    			<script src="/assets/js/browser.min.js"></script>
    			<script src="/assets/js/breakpoints.min.js"></script>
    			<script src="/assets/js/util.js"></script>
    			<script src="/assets/js/main.js"></script>
		</body>
</html>