@using System.Web.Optimization
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<!-- Head (meta) -->
<head>
    @{ Html.RenderAction("RenderHeadHtml", "SiteLayout");}

</head>

<!-- Body -->
<body class="is-preload">
    <!-- Header and Nav -->
    @{ Html.RenderAction("RenderNavigation", "SiteLayout");}
    @RenderBody()
    <!-- Footer -->
    @{ Html.RenderAction("RenderFooter", "SiteLayout");}
    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/browser.min.js"></script>
    <script src="~/assets/js/breakpoints.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/contactForm.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/assets/js/jquery.unobtrusive-ajax.js"></script>
</body>
</html>