@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147192021-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-147192021-1');
    </script>
    @{ Html.RenderAction("RenderMetadata", "SiteLayout");}
</head>
<body class="is-preload">
    @{ Html.RenderAction("RenderNavigation", "SiteLayout");}
    @RenderBody()
    @{ Html.RenderAction("RenderFooter", "SiteLayout");}
    @{ Html.RenderAction("RenderScripts", "SiteLayout");}
</body>
</html>