@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}
<!-- CTA -->
@{ Html.RenderAction("RenderCTA", "SiteLayout");}
<!-- Grid -->
<section class="wrapper">
    <div class="inner">
        @Html.GetGridHtml(Model, "contentGridControl")
    </div>
</section>