@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}
<!-- CTA -->
@{ Html.RenderAction("RenderCTA", "SiteLayout");}
<!-- Content Grid -->
<section class="wrapper">
    @Html.GetGridHtml(Model, "contentGridControl", "bootstrap3")
    <div class="inner" style="text-align: center;">
        @{
            IPublishedContent currentPage = Umbraco.Content(Umbraco.AssignedContentItem.Id);
            IEnumerable<IPublishedContent> children = currentPage.Children();

            if (Umbraco.AssignedContentItem.Name == "Code Projects")
            {
                foreach (var child in children)
                {
                    <h2 class="hvr-bob"><i class="icon fa fa-fw fa-code"></i><a style="text-decoration:underline;" href="@child.Url"> @child.Name.</a></h2>
                    <p style="padding-left:3em;">@child.Value("cTABody", defaultValue: "Project Details.").Replace("<p>", "").Replace("</p>", "")</p>

                }
            }
        }
    </div>
</section>