<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5c6ac125-f879-4db1-861c-2c841aea24f9" Alias="footerControls" Level="2">
  <Info>
    <Name>Footer Controls</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Core+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>375225f9-4d3c-477c-9570-2a5149b5a9d2</Key>
      <Name>Contact Header</Name>
      <Alias>contactHeader</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Header for contact area]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Footer Content - Contact</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>41cc7d16-7b0a-4e3a-9bbd-75c7293fdc9a</Key>
      <Name>Footer Copyright Text</Name>
      <Alias>footerCopyrightText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The copyright text in footer.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Footer Content - Copyright</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>129ea318-6a18-4faa-8978-ae8a0c5530a2</Key>
      <Name>Link 1 Icon</Name>
      <Alias>link1Icon</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[https://fontawesome.com/v4.7.0/cheatsheet/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Footer Content - Links</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a581d207-3ad3-4a4a-97ed-c0f133d0e53e</Key>
      <Name>Link 1 Text</Name>
      <Alias>link1Text</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How link reads]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Footer Content - Links</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>141fba97-40a1-4adb-9832-f1e17d08438b</Key>
      <Name>Link 1 URL</Name>
      <Alias>link1URL</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[URL for link 1]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Footer Content - Links</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>70253b6b-3e5d-458f-b858-06f09269f0db</Key>
      <Name>Link 2 Icon</Name>
      <Alias>link2Icon</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[https://fontawesome.com/v4.7.0/cheatsheet/]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Footer Content - Links</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8ef56002-6814-42f6-ad46-d956a42c27ed</Key>
      <Name>Link 2 Text</Name>
      <Alias>link2Text</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How link looks]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Footer Content - Links</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a5fd7761-e1f0-443d-851a-d1d01710d2c1</Key>
      <Name>Link 2 URL</Name>
      <Alias>link2URL</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[URL for link 2]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Footer Content - Links</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a5baa598-234a-4523-ac2c-d14fc291d8bf</Key>
      <Name>Link 3 Icon</Name>
      <Alias>link3Icon</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[https://fontawesome.com/v4.7.0/cheatsheet/]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Footer Content - Links</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>bba3f609-4b7e-4f33-b4cc-cc43a6f8a89f</Key>
      <Name>Link 3 Text</Name>
      <Alias>link3Text</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How link looks]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Footer Content - Links</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4a79f446-3634-44b5-9a21-ce98fa3194ad</Key>
      <Name>Link 3 URL</Name>
      <Alias>link3URL</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[URL for link 3]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Footer Content - Links</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ad11420a-af0e-497a-ac81-bcb3dfd9a3c3</Key>
      <Name>Page Styling Credit</Name>
      <Alias>pageStylingCredit</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The credit tag for page's front end design (templated.co)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Footer Content - Copyright</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Footer Content - Copyright</Caption>
      <SortOrder>7</SortOrder>
    </Tab>
    <Tab>
      <Caption>Footer Content - Links</Caption>
      <SortOrder>7</SortOrder>
    </Tab>
    <Tab>
      <Caption>Footer Content - Contact</Caption>
      <SortOrder>7</SortOrder>
    </Tab>
  </Tabs>
</ContentType>