<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5c6ac125-f879-4db1-861c-2c841aea24f9" Alias="footerControls" Level="2">
  <Info>
    <Name>Footer Controls</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Core+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>41cc7d16-7b0a-4e3a-9bbd-75c7293fdc9a</Key>
      <Name>Footer Copyright Text</Name>
      <Alias>footerCopyrightText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The copyright text in footer.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Global Footer Content - Copyright</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ad11420a-af0e-497a-ac81-bcb3dfd9a3c3</Key>
      <Name>Page Styling Credit</Name>
      <Alias>pageStylingCredit</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The credit tag for page's front end. I do not recommend changing this as it is a breach of copyright law against www.templated.co]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Global Footer Content - Copyright</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Global Footer Content - Copyright</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>