<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="396e70bb-ab0e-411f-b76b-0aeb11e18373" Alias="globalMetaControls" Level="2">
  <Info>
    <Name>Global Meta Controls</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Core+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c4676513-71b5-4029-943b-4a55098b8576</Key>
      <Name>Copyright Owner</Name>
      <Alias>copyrightOwner</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Site's Copyright Tag]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Site Settings (Global)</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c3c8f214-68bd-4487-890d-ec10c3330b6e</Key>
      <Name>Site Author Tag</Name>
      <Alias>siteAuthorTag</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A global single author tag.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Site Settings (Global)</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>41dcdff2-4701-4901-a09b-45326dfa3040</Key>
      <Name>Site Crawl Frequency</Name>
      <Alias>siteCrawlFrequency</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How often search engines revisit site. Format must be "X days" i.e. 31 days]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Site Settings (Global)</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>98ea322b-2fd5-44e6-ba21-374d0e6c0d31</Key>
      <Name>Site Description</Name>
      <Alias>siteDescription</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A general description of the entire site.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Site Settings (Global)</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2a81184c-a87c-4172-9ee1-d42617ec9587</Key>
      <Name>Site Keywords</Name>
      <Alias>siteKeywords</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Keywords for search engines.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Site Settings (Global)</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Site Settings (Global)</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>