<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="29c2bd4c-ad21-4965-af9a-2fcdd6490504" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the home page's template.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Content</Folder>
    <Compositions>
      <Composition Key="5c6ac125-f879-4db1-861c-2c841aea24f9">footerControls</Composition>
      <Composition Key="396e70bb-ab0e-411f-b76b-0aeb11e18373">globalMetaControls</Composition>
      <Composition Key="3e746c75-3e1c-4fc4-96f9-5931b04a2d2a">intro</Composition>
      <Composition Key="3eb516b0-b484-4fad-8207-86146ce8a804">metaControls</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="88440fc3-7f7f-4f34-9121-859ea3e1e30b">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7bef8ac2-fc19-4b78-9c61-f8ce6ffffd65">projects</ContentType>
    <ContentType Key="0e914552-9913-4c1d-b857-07750457e42d">simpleContentPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>7830e897-db69-4971-a7bb-2cfc158b8bd9</Key>
      <Name>Banner Background Image</Name>
      <Alias>bannerBackgroundImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Banner</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5ed6569e-d895-4ada-8235-bbb7dc8062eb</Key>
      <Name>Highlights Header</Name>
      <Alias>highlightsHeader</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The header for the highlight section]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Highlights Header</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>583fcf1c-94b3-401d-a7eb-439e092636ba</Key>
      <Name>Highlights One Header</Name>
      <Alias>highlightsOneHeader</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Highlights one header]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Highlight Cards</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f73c82c0-f3e3-44be-853a-37f98c9a7055</Key>
      <Name>Highlights One Icon</Name>
      <Alias>highlightsOneIcon</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[https://fontawesome.com/v4.7.0/cheatsheet/]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Highlight Cards</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0b13c6ab-82cf-4d57-ad48-3a441c8f1321</Key>
      <Name>Highlights One Text</Name>
      <Alias>highlightsOneText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Highlights One Text]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Highlight Cards</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8b024bdd-2347-4e28-8584-fbe921db6215</Key>
      <Name>Highlights Text</Name>
      <Alias>highlightsSubText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Highlights normal text]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Highlights Header</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4000cde5-a51a-4030-9c06-ae5f096fefcf</Key>
      <Name>Highlights Three Header</Name>
      <Alias>highlightsThreeHeader</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Highlights Three Header]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Highlight Cards</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>df6db43c-99e0-4234-9933-d5ed58b278d6</Key>
      <Name>Highlights Three Icon</Name>
      <Alias>highlightsThreeIcon</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[https://fontawesome.com/v4.7.0/cheatsheet/]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Highlight Cards</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3929daa9-2c4d-4810-86f3-9d6bef6c089d</Key>
      <Name>Highlights Three Text</Name>
      <Alias>highlightsThreeText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Highlights Three Text]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Highlight Cards</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a629670c-af28-4c1e-962a-41c8c3bbffac</Key>
      <Name>Highlights Two Header</Name>
      <Alias>highlightsTwoHeader</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Highlights Two Header]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Highlight Cards</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>56358a91-c25a-48a8-9d0d-c25b181084a3</Key>
      <Name>Highlights Two Icon</Name>
      <Alias>highlightsTwoIcon</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[https://fontawesome.com/v4.7.0/cheatsheet/]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Highlight Cards</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>376367ea-199a-42fc-b107-60603326fab4</Key>
      <Name>Highlights Two Text</Name>
      <Alias>highlightsTwoText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Highlights two body text]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Highlight Cards</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a1fbee35-e254-4dd1-825d-9e2a990ec691</Key>
      <Name>Page Banner Sub Title</Name>
      <Alias>homepageBannerSubTitle</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The body content]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Banner</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>32c5f271-d906-4e24-a284-e13153fe2a9f</Key>
      <Name>Homepage Banner Title</Name>
      <Alias>homepageBannerTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The overall banner title]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Banner</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Banner</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Highlights Header</Caption>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Caption>Highlight Cards</Caption>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>