<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="29c2bd4c-ad21-4965-af9a-2fcdd6490504" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the home page's template.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Content</Folder>
    <Compositions>
      <Composition Key="5c6ac125-f879-4db1-861c-2c841aea24f9">footerControls</Composition>
      <Composition Key="396e70bb-ab0e-411f-b76b-0aeb11e18373">globalMetaControls</Composition>
      <Composition Key="3e746c75-3e1c-4fc4-96f9-5931b04a2d2a">intro</Composition>
      <Composition Key="3eb516b0-b484-4fad-8207-86146ce8a804">metaControls</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="88440fc3-7f7f-4f34-9121-859ea3e1e30b">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7bef8ac2-fc19-4b78-9c61-f8ce6ffffd65">projects</ContentType>
    <ContentType Key="0e914552-9913-4c1d-b857-07750457e42d">simpleContentPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>7830e897-db69-4971-a7bb-2cfc158b8bd9</Key>
      <Name>Banner Background Image</Name>
      <Alias>bannerBackgroundImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Banner</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a1fbee35-e254-4dd1-825d-9e2a990ec691</Key>
      <Name>Page Banner Sub Title</Name>
      <Alias>homepageBannerSubTitle</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The body content]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Banner</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>28379d66-6fa3-4c80-867c-b374156e2d16</Key>
      <Name>Page Banner Title</Name>
      <Alias>homepageBannerTitle</Alias>
      <Definition>66af8b57-eaa3-4823-bbfa-02e18d15ee01</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The page's title]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Banner</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Banner</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>