<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="29c2bd4c-ad21-4965-af9a-2fcdd6490504" Alias="homePage" Level="1">
  <Info>
    <Name>HomePage</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is our homeplage template</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="88440fc3-7f7f-4f34-9121-859ea3e1e30b">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7bef8ac2-fc19-4b78-9c61-f8ce6ffffd65">projects</ContentType>
    <ContentType Key="0e914552-9913-4c1d-b857-07750457e42d">simpleContentPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>8f978ed2-932e-482d-8815-b8ce080d27dd</Key>
      <Name>Footer Text</Name>
      <Alias>footerText</Alias>
      <Definition>831e33d7-8d8c-417f-8e6a-9e4e1adb758c</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Copyright notice for the footer]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a1fbee35-e254-4dd1-825d-9e2a990ec691</Key>
      <Name>Page Banner Sub Title</Name>
      <Alias>pageSubTitle</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The body content]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Banner</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>28379d66-6fa3-4c80-867c-b374156e2d16</Key>
      <Name>Page Banner Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>66af8b57-eaa3-4823-bbfa-02e18d15ee01</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The page's title]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Banner</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Banner</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Footer</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>