<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3eb516b0-b484-4fad-8207-86146ce8a804" Alias="metaControls" Level="2">
  <Info>
    <Name>Local Meta Controls</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Core+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d5e3f76e-091f-4127-9607-ad7cc2884db3</Key>
      <Name>Can Index</Name>
      <Alias>canIndex</Alias>
      <Definition>5eed8cab-00a7-4ebb-8fde-1b101ca9faf3</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Can this page be crawled by bots? I.E. Can it appear in search engines. "index, follow" means yes.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Local Meta Control</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5d2de797-9443-4641-8b2f-e51a5a7f0c13</Key>
      <Name>This Page's Name</Name>
      <Alias>pageTabName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A "Site Title" for this page only, appearing on the tab text.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Local Meta Control</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Local Meta Control</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>