<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7bef8ac2-fc19-4b78-9c61-f8ce6ffffd65" Alias="projects" Level="2">
  <Info>
    <Name>Portfolio Page</Name>
    <Icon>icon-book-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Content</Folder>
    <Compositions>
      <Composition Key="3e746c75-3e1c-4fc4-96f9-5931b04a2d2a">intro</Composition>
      <Composition Key="3eb516b0-b484-4fad-8207-86146ce8a804">metaControls</Composition>
    </Compositions>
    <DefaultTemplate>projects</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="60455c95-1bc2-4adb-88f2-2f5990b93cb6">projects</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0e914552-9913-4c1d-b857-07750457e42d">simpleContentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>