<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7bef8ac2-fc19-4b78-9c61-f8ce6ffffd65" Alias="projects" Level="1">
  <Info>
    <Name>Projects</Name>
    <Icon>icon-book-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>projects</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="60455c95-1bc2-4adb-88f2-2f5990b93cb6">projects</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>