<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0e914552-9913-4c1d-b857-07750457e42d" Alias="simpleContentPage" Level="2">
  <Info>
    <Name>Simple Content Page</Name>
    <Icon>icon-umb-content color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Content</Folder>
    <Compositions />
    <DefaultTemplate>SimpleContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fc953e03-dcd1-4f08-9bb8-dff44f1a8653">SimpleContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cb307195-f719-4277-89ab-8a43a19774ce</Key>
      <Name>bodyText</Name>
      <Alias>bodyText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2cd151c6-7d5f-45a5-b770-a003fc817b04</Key>
      <Name>pageSubTitle</Name>
      <Alias>pageSubTitle</Alias>
      <Definition>8dcf9ae8-29c6-4b0c-a086-5b82b3ee2a94</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a78405e5-7f60-4792-9e85-1709898d046b</Key>
      <Name>pageTitle</Name>
      <Alias>pageTitle</Alias>
      <Definition>971f5b09-67c1-4fc9-9fc7-bde179b2fdd5</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title for page]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>