<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0e914552-9913-4c1d-b857-07750457e42d" Alias="simpleContentPage" Level="2">
  <Info>
    <Name>General Content Page</Name>
    <Icon>icon-umb-content color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Content</Folder>
    <Compositions>
      <Composition Key="3e746c75-3e1c-4fc4-96f9-5931b04a2d2a">intro</Composition>
      <Composition Key="3eb516b0-b484-4fad-8207-86146ce8a804">metaControls</Composition>
    </Compositions>
    <DefaultTemplate>SimpleContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fc953e03-dcd1-4f08-9bb8-dff44f1a8653">SimpleContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0e914552-9913-4c1d-b857-07750457e42d">simpleContentPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>cb307195-f719-4277-89ab-8a43a19774ce</Key>
      <Name>Main Body Text Title</Name>
      <Alias>bodyTextTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c6760281-30af-4567-9af5-cf065ecae630</Key>
      <Name>Main Body Text</Name>
      <Alias>mainBodyText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>