@inherits  UmbracoViewPage
@{

    var ctaBackgroundImage = "";
    try
    {
        ctaBackgroundImage = Umbraco.AssignedContentItem.Value<IPublishedContent>("siteBannerImage").Url;

    }
    catch (Exception)
    {
        ctaBackgroundImage = "notfound.jpg";

    }
}


<section style="background-image: url(@ctaBackgroundImage)" id="cta" class="wrapper">
    <div class="inner">
        <h1>@Umbraco.AssignedContentItem.Value("cTAHeader")</h1>
        <div style="font-size:20px;font-weight:bold;">@Umbraco.AssignedContentItem.Value("cTABody")</div>
    </div>
</section>