<footer id="footer">
    <div class="inner">
        <div class="content">
            <section>
                <h4 style="text-align:center">Copyright</h4>
                <div class="copyright">
                    <p>Patrick Jonathan Davis 2019 | © </p>
                </div>
            </section>
            <section>
                <h4>Networks</h4>
                <ul class="plain">
                    <li><a target="_blank" href="https://www.linkedin.com/in/pdavis97"><i class="icon fa-linkedin">&nbsp;</i>LinkedIn</a></li>
                    <li><a target="_blank" href="https://www.facebook.com/PJD97"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
                    <li><a target="_blank" href="https://github.com/patrickd77-eng"><i class="icon fa-github">&nbsp;</i>GitHub</a></li>
                </ul>
            </section>
        </div>

    </div>
</footer>