<?xml version="1.0" encoding="utf-8"?>
<Image Key="70397c8b-ff8c-45d6-94a9-9b63b9872e9b" Alias="20190728 164451" Level="2">
  <Info>
    <Parent Key="3944c695-a6bb-4c25-bbae-886fd870a832">Banner Images</Parent>
    <Path>/BannerImages/</Path>
    <Trashed>false</Trashed>
    <NodeName Default="20190728 164451" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>1369013</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/rv4ds2em/20190728_164451.jpg","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>3456</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>4608</Value>
    </umbracoWidth>
  </Properties>
</Image>