<?xml version="1.0" encoding="utf-8"?>
<Image Key="3bbc7a3d-ff39-4aee-8dc5-ecc61a2a61c2" Alias="Bg" Level="2">
  <Info>
    <Parent Key="cd1d9d59-6144-4be0-99a9-70da4c9c48fe">Body Backgrounds</Parent>
    <Path>/BodyBackgrounds/Bg</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Bg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>518949</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/hn3lyozz/bg.jpg","crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>1280</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>1680</Value>
    </umbracoWidth>
  </Properties>
</Image>