<?xml version="1.0" encoding="utf-8"?>
<Folder Key="cd1d9d59-6144-4be0-99a9-70da4c9c48fe" Alias="Body Backgrounds" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BodyBackgrounds</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Body Backgrounds" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Folder>