<?xml version="1.0" encoding="utf-8"?>
<Image Key="4faebb9a-1fc7-4160-bb96-627ac3403e47" Alias="Code" Level="2">
  <Info>
    <Parent Key="3944c695-a6bb-4c25-bbae-886fd870a832">Banner Images</Parent>
    <Path>/BannerImages/Code</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Code" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>718481</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{
  "src": "/media/ts3l2t4h/bannercode.jpg",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": null
}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>628</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>1200</Value>
    </umbracoWidth>
  </Properties>
</Image>