<?xml version="1.0" encoding="utf-8"?>
<Folder Key="a9843d1d-0af2-4bfa-8131-e4d050067d84" Alias="CTA Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CTAImages</Path>
    <Trashed>false</Trashed>
    <NodeName Default="CTA Images" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Folder>