<?xml version="1.0" encoding="utf-8"?>
<Image Key="60aa48a8-5e74-4e3b-bee2-15712cb597f2" Alias="Durdle-Door-Near" Level="2">
  <Info>
    <Parent Key="a9843d1d-0af2-4bfa-8131-e4d050067d84">CTA Images</Parent>
    <Path>/CTAImages/DurdleDoorNear</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Durdle-Door-Near" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>2377186</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{
  "src": "/media/vzekuydu/20190728_162844.jpg",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": null
}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>3456</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>4608</Value>
    </umbracoWidth>
  </Properties>
</Image>