<?xml version="1.0" encoding="utf-8"?>
<Image Key="a9b8b2ac-8434-46e1-834e-ed9bc2b56345" Alias="Durdle Door Patrick Davis" Level="2">
  <Info>
    <Parent Key="3944c695-a6bb-4c25-bbae-886fd870a832">Banner Images</Parent>
    <Path>/BannerImages/DurdleDoorPatrickDavis</Path>
    <Trashed>true</Trashed>
    <NodeName Default="Durdle Door Patrick Davis" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>12617310</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{
  "src": "/media/vkzlrkju/20190728_164451.jpg",
  "focalPoint": {
    "left": 0.45333333333333331,
    "top": 0.55333333333333334
  },
  "crops": null
}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>3456</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>4608</Value>
    </umbracoWidth>
  </Properties>
</Image>