<?xml version="1.0" encoding="utf-8"?>
<Image Key="995000be-130d-446f-aea1-92d8c92e9c0b" Alias="Macbook-Code" Level="2">
  <Info>
    <Parent Key="a9843d1d-0af2-4bfa-8131-e4d050067d84">CTA Images</Parent>
    <Path>/CTAImages/MacbookCode</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Macbook-Code" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>3385802</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{
  "src": "/media/xaafbgin/shutterstock_511444168.jpg",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": null
}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>2885</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>4400</Value>
    </umbracoWidth>
  </Properties>
</Image>