<?xml version="1.0" encoding="utf-8"?>
<Image Key="37cc414b-867e-491b-8ef9-2065273bb106" Alias="Monitor-Code" Level="2">
  <Info>
    <Parent Key="a9843d1d-0af2-4bfa-8131-e4d050067d84">CTA Images</Parent>
    <Path>/CTAImages/MonitorCode</Path>
    <Trashed>true</Trashed>
    <NodeName Default="Monitor-Code" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>4677536</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{
  "crops": null,
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/jvanyn14/shutterstock_251560003.jpg"
}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>2784</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>4140</Value>
    </umbracoWidth>
  </Properties>
</Image>