<?xml version="1.0" encoding="utf-8"?>
<Image Key="dde7eac5-1abf-460f-b803-975eb9c2e51a" Alias="Motherboard 2" Level="2">
  <Info>
    <Parent Key="a9843d1d-0af2-4bfa-8131-e4d050067d84">CTA Images</Parent>
    <Path>/CTAImages/Motherboard2</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Motherboard 2" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>419228</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{
  "crops": null,
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/ypvopxn5/38236.jpg"
}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>1080</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>1920</Value>
    </umbracoWidth>
  </Properties>
</Image>