<?xml version="1.0" encoding="utf-8"?>
<Image Key="6b66e82d-1b9e-4d7a-846e-47bfb7a912c8" Alias="Mountains Tops Snow Sky 118564 1920X1080" Level="2">
  <Info>
    <Parent Key="3944c695-a6bb-4c25-bbae-886fd870a832">Banner Images</Parent>
    <Path>/BannerImages/MountainsTopsSnowSky1185641920X1080</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Mountains Tops Snow Sky 118564 1920X1080" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>1101744</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{
  "src": "/media/fpugm024/mountains_tops_snow_sky_118564_1920x1080.jpg",
  "focalPoint": {
    "left": 0.5,
    "top": 0.31407407407407406
  },
  "crops": null
}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>1080</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>1920</Value>
    </umbracoWidth>
  </Properties>
</Image>