<?xml version="1.0" encoding="utf-8"?>
<Image Key="746a3bc8-a4d0-46ae-a518-cda7ed8f1897" Alias="NZXT H500 PC Case" Level="2">
  <Info>
    <Parent Key="a9843d1d-0af2-4bfa-8131-e4d050067d84">CTA Images</Parent>
    <Path>/CTAImages/NZXTH500PCCase</Path>
    <Trashed>false</Trashed>
    <NodeName Default="NZXT H500 PC Case" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>95821</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{
  "src": "/media/zy3hu3gq/nzxt-h500-pc-case.jpg",
  "focalPoint": {
    "left": 0.515,
    "top": 0.26333333333333331
  },
  "crops": null
}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>1200</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>1200</Value>
    </umbracoWidth>
  </Properties>
</Image>