<?xml version="1.0" encoding="utf-8"?>
<Image Key="8e353ce3-eb48-483b-be49-2240524bfb3f" Alias="Shutterstock 606606557" Level="2">
  <Info>
    <Parent Key="a9843d1d-0af2-4bfa-8131-e4d050067d84">CTA Images</Parent>
    <Path>/CTAImages/Shutterstock606606557</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Shutterstock 606606557" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>16063853</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{
  "src": "/media/2u4dldsi/shutterstock_606606557.jpg",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": null
}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>3456</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>5184</Value>
    </umbracoWidth>
  </Properties>
</Image>