<!-- Main -->
<section id="main" class="inner">
    <div class="content">
        <header class="major special">
            <h2>Test</h2>
            <p>Test</p>
        </header>
    </div>
</section>