<!-- Main -->
@inherits UmbracoViewPage
<section id="main" class="inner">
    <div class="content">
        <header class="major special">
            <h2>@Umbraco.AssignedContentItem.Value("bodyTextTitle")</h2>
            @Umbraco.AssignedContentItem.Value("mainBodyText")
        </header>
    </div>
</section>