<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9585ac1e-36e5-4fb0-a07b-7ba4f2739a08" Alias="Footer Controls - FooterLinks - Multi Url Picker" Level="1">
  <Info>
    <Name>Footer Controls - FooterLinks - Multi Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>31</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 1,
  "MaxNumber": 5,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>