<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b186515-ab2b-47f0-a18d-e9353886c0bb" Alias="HomePage - Page Banner Sub Title - Textbox" Level="1">
  <Info>
    <Name>HomePage - Page Banner Sub Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>34</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>