<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0a555ec5-2935-4404-9d10-79f937bd345a" Alias="HomePage - Card Header - Textbox" Level="1">
  <Info>
    <Name>HomePage - Card Header - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>37</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>