<?xml version="1.0" encoding="utf-8"?>
<DataType Key="66af8b57-eaa3-4823-bbfa-02e18d15ee01" Alias="HomePage - PageTitle - Textbox" Level="1">
  <Info>
    <Name>HomePage - PageTitle - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>29</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>