<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ac12029b-7a83-4775-b22b-daabb36a6c67" Alias="HomePage - FooterText - Textbox (2)" Level="1">
  <Info>
    <Name>HomePage - FooterText - Textbox (2)</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>35</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>