<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7736d6aa-a1da-43f5-83b7-7bf68d6dc74f" Alias="HomePage - FooterText - Textbox" Level="1">
  <Info>
    <Name>HomePage - FooterText - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>30</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>