<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cb1ae058-651e-48ca-890a-68ac331d0ac5" Alias="HomePage - Card Header - Textbox (1)" Level="1">
  <Info>
    <Name>HomePage - Card Header - Textbox (1)</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>38</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>