<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5eed8cab-00a7-4ebb-8fde-1b101ca9faf3" Alias="Local Meta Controls - Can Index - Dropdown" Level="1">
  <Info>
    <Name>Local Meta Controls - Can Index - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>41</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "index, follow"
    },
    {
      "id": 2,
      "value": "noindex"
    }
  ]
}]]></Config>
</DataType>