<?xml version="1.0" encoding="utf-8"?>
<DataType Key="853d7a8a-f3e0-4060-b091-dd80a32ae824" Alias="Projects - Page Header - Textbox" Level="1">
  <Info>
    <Name>Projects - Page Header - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>40</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>