<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d71c85f0-a004-428a-8e73-e27152b80f49" Alias="Projects - Header Text - Textbox" Level="1">
  <Info>
    <Name>Projects - Header Text - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>39</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>