<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8dcf9ae8-29c6-4b0c-a086-5b82b3ee2a94" Alias="Simple Content Page - pageSubTitle - Textbox" Level="1">
  <Info>
    <Name>Simple Content Page - pageSubTitle - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>33</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>