<?xml version="1.0" encoding="utf-8"?>
<DataType Key="971f5b09-67c1-4fc9-9fc7-bde179b2fdd5" Alias="Simple Content Page - pageTitle - Textbox" Level="1">
  <Info>
    <Name>Simple Content Page - pageTitle - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>32</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>